<main>
  <h1>{{cube.name}}</h1>
  <img class="cube"
    src="{{cube.imageUrl}}">
  <div class="details">
    <p><span>Description:</span>{{cube.description}}</span></p>
    <p><span>Difficulty Level:</span>{{cube.difficultyLevel}}</span></p>
    <a class="btn" href="/">Back</a>
  </div>
</main>